/* src/components/features/dashboard/RealtimeMonitor.css */
.realtime-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  overflow-y: auto;
  padding-right: 5px;
}

.no-active-os {
  text-align: center;
  padding: 40px 20px;
  color: #d9e2ea;
  font-style: italic;
  margin: auto;
}